<div class="center-screen" >
    <mat-card>
        <mat-card-title>Cadastre -se</mat-card-title>
    <form>
        <mat-form-field>
            <mat-label>Email</mat-label>
             <input matInput type="email">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput type="password">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Repita a Senha</mat-label>
            <input matInput type="password">
        </mat-form-field>
        <br>
        <button mat-button type="button" (click)="sign()">Enviar</button>
    </form>
</mat-card>
</div>
